<h1>Game Library</h1>

<button (click)="getGames()">Load Games</button>

<hr>

<h2>Add a Game</h2>

<input
  type="text"
  placeholder="Game title"
  [(ngModel)]="newGame.title"
>

<input
  type="text"
  placeholder="Genre"
  [(ngModel)]="newGame.genre"
>

<input
  type="text"
  placeholder="Platform"
  [(ngModel)]="newGame.platform"
>

<button (click)="addGame()">Add Game</button>

<hr>

<h2>My Games</h2>

<input
  type="text"
  placeholder="Search my games..."
  [(ngModel)]="librarySearchQuery"
>

<select [(ngModel)]="libraryPlatformFilter">
  <option value="">All Platforms</option>

  <option
    *ngFor="let platform of libraryPlatforms"
    [value]="platform"
  >
    {{ platform }}
  </option>
</select>


<h2>Search Games</h2>

<input
  type="text"
  placeholder="Search for a game..."
  [(ngModel)]="searchQuery"
>

<button (click)="searchGames()">Search</button>

<div *ngFor="let game of searchResults">

  <h3>{{ game.title }}</h3>

  <p>Release Date: {{ game.release_date }}</p>

  <p>Rating: {{ game.rating }}</p>

  <img
    [src]="game.image"
    [alt]="game.title"
    width="300"
  >

  <hr>

  <button (click)="addToLibrary(game)">
  + Add to My Library
</button>

</div>

<div class="game-grid">



<div class="game-item" *ngFor="let game of filteredGames">

  <div
    class="game-card"
    [class.expanded]="expandedGameId === game.id"
    (click)="toggleGameInfo(game.id)"
  >

  <div *ngIf="editingGameId !== game.id">

    <h3>{{ game.title }}</h3>

    <img
      *ngIf="game.image"
      [src]="game.image"
      [alt]="game.title"
      width="300"

    >

    <p>Genre: {{ game.genre }}</p>
    <p>Platform: {{ game.platform }}</p>
    <p>Release Date: {{ game.release_date }}</p>
    <p>Rating: {{ game.rating }}</p>

    <button (click)="startEditing(game)">Edit</button>
    <button (click)="deleteGame(game.id)">Delete</button>

  </div>


  <div *ngIf="editingGameId === game.id">

    <h3>Edit Game</h3>

    <input
      type="text"
      [(ngModel)]="editGame.title"
      placeholder="Game title"
    >

    <input
      type="text"
      [(ngModel)]="editGame.genre"
      placeholder="Genre"
    >

    <input
      type="text"
      [(ngModel)]="editGame.platform"
      placeholder="Platform"
    >
    <button (click)="updateGame(game.id)">Save</button>
    <button (click)="cancelEditing()">Cancel</button>

    </div>
  </div>

  <div
    class="game-info"
    *ngIf="expandedGameId === game.id"
  >

    <h3>{{ game.title }}</h3>

    <p><strong>Genre:</strong> {{ game.genre }}</p>

    <p><strong>Platform:</strong> {{ game.platform }}</p>

    <p><strong>Release Date:</strong> {{ game.release_date }}</p>

    <p><strong>Rating:</strong> {{ game.rating }}</p>

  </div>

  <hr>

</div>

<router-outlet />
